# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

# Objectives:
* list the popular languages for data science
* list the libraries for data science
* list the data science tools
* list the global communities for data science

# Some of the popular languages that Data Scientists use are:
1. R
2. Scala
3. Java
4. C++

# Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. NumPy
3. the Scikit-learn

# Data Science Tools
1. MySQL
2. Hadoop File System
3. Ceph
4. Apache AirFlow
5. Apache Nifi

### Below are a few examples of evaluating arithmetic expressions in Python

 This a simple arithmetic expression to mutiply then add integers.

In [2]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [5]:
200 minutes into hours

SyntaxError: invalid syntax (814394524.py, line 1)

## Author
Renee